# x--------------------------------------------x
# config for the fivem dashboard Discord-Bot
# view project on Github: https://github.com/Commandserver/FiveM-Dashboard-Bot
# x--------------------------------------------x
#
# This is the config template for the bot
# rename it to .env
#

# Your Bot token
BOT_TOKEN=

# Database connection
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=database

# the IPv4 (with port!) Of the FiveM server which the status should be requested from
FIVEM_SERVER_IP=192.168.178.49:30120

# Down detector url
ALLE_STOERUNGEN_URL=https://allestörungen.de/stoerung/fivem/

#
# Status-Message Settings
#
# The name of the project
PROJECT_NAME="My Server"
# The url of the icon in the status-message
ICON_URL=https://www.flixrp.net/favicon-32x32.png
# the domain or ip of your fivem server. This address will just be displayed in the status-message
FIVEM_CONNECTION=yourserver.net:30120
# The website url will be clickable in the status-message. Only HTTP(S)
WEBSITE_URL=https://www.example.com
# the ID of the discord channel in which the status message should appear
STATUS_CHANNEL_ID=966487155054211172
# update interval of the status message in seconds. It's not recommended to set this below 7
STATUS_UPDATE_INTERVAL=10
# Fallback max player count to display if no maxplayers were requested via request_maxplayers.py
FALLBACK_MAX_PLAYERS=64

#
# Restart detection
#
# The ID of the TxAdmin-discord-bot of your server.
# The builtin discord bot of your FiveM server automatically sends restart messages in a channel.
# These are used to react faster when the server restarts and to adapt the status message
BUILD_IN_BOT_ID=755114679964057164
# String the TxAdmin bot sends when the server is about to start. The bot will then add a note to the status-message
# modify this according to your language from https://github.com/citizenfx/txAdmin/tree/master/locale
RESTART_DETECTION_ABOUT_TO_RESTART="wird in 5 Minuten neu gestartet"
# String the TxAdmin bot sends when the server restarts
# modify this according to your language from https://github.com/citizenfx/txAdmin/tree/master/locale
RESTART_DETECTION_RESTARTING="wird neu gestartet"

#
# Status Command
#
# Configuration for the Discord /fivem slash-command
# If the GUILD_ID is empty, the commands will be global
GUILD_ID=
# Whether to enable the message-based command "!fivem" besides the slash command
# Possible values:
# - true
# - false
ENABLE_MESSAGE_COMMANDS=true